@model University.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid bg-secondary text-light text-center p-5">
    <div class="container bg-secondary bg-gradient p-5">
        <h1 class="display-1">Details</h1>
        <hr>
        <div class="d-grid gap-2">
            <a class="btn btn-outline-info bg-gradient" asp-action="Index">Back to List</a>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid bg-secondary text-light text-center p-5">
    <div class="container bg-secondary bg-gradient p-5">
        <div>
            <h1 class="display-4">Student</h1>
            <hr />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table text-start">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.LastName)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstMidName)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.FirstMidName)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.EnrollmentDate)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.EnrollmentDate)
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <table class="table text-start">

                        <tr>
                            <th>Course Title</th>
                            <th>Grade</th>
                        </tr>
                        @foreach (var item in Model.Enrollments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Grade)
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="d-grid gap-2 pt-4">
                        <a class="btn btn-outline-info bg-gradient" asp-action="Edit" asp-route-id="@Model?.ID"><i class="bi bi-pencil-square"></i>&ensp;Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>