@model University.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid bg-secondary text-light text-center p-5">
    <div class="container bg-secondary bg-gradient p-5">
        <h1 class="display-1">Delete</h1>
        <hr>
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <h1 class="display-5">Are you sure you want to delete this?</h1>
        <hr>
        <div class="d-grid gap-2">
            <a class="btn btn-outline-info bg-gradient" asp-action="Index">Back to List</a>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid bg-secondary text-light text-center p-5">
    <div class="container bg-secondary bg-gradient p-5">
        <div>
            <h1 class="display-4">Course</h1>
            <hr />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table text-start">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => model.Title)
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Credits)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => model.Credits)
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => model.Department.DepartmentID)
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CourseID" />
                        <div class="d-grid gap-2  pt-4">
                            <input type="submit" value="Delete" class="btn btn-danger bg-gradient"/>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
